.page {
    background-color: #212024;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Domine', serif;
}

.header {    
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 60px 20px;
    background-image: url(./header_image.jpg);
    background-position: center;
    background-size: cover;
}

.header__title {
    margin: 0;
    text-align: right;
    color: white;    
    font-size: 30px;
    max-width: 200px;    
    margin-left: auto;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 25px 25px 25px 25px;
    }

    .header__title {
        font-size: 18px;
        max-width: 120px;
    }
}

.main {
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topics {
    width: 75%;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.topics_inactive {
    display: none;
}

.topics__list {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.topic {
    cursor: pointer;
    list-style: none;
    line-height: 40px;
}

.test {
    display: none;

    width: 75%;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.test_active {
    display: block;
}

.head__content {
    color: white;
}

.button_correct {
    background-color: green;
}

.button_wrong {
    background-color: red;
}

.footer {
    max-width: 1280px;
    width: 100%;
    color: white;
    box-sizing: border-box;
    padding: 25px 20px 25px 20px;
    border-top: 1px solid white;
}