.topics {
    width: 75%;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.topics_inactive {
    display: none;
}

.topics__list {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.topic {
    cursor: pointer;
    list-style: none;
    line-height: 40px;
}

.test {
    display: none;

    width: 75%;
    min-width: 280px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;

    flex-direction: column;
    align-items: center;

    
}

.test_active {
    display: flex;
}

.head__content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    margin: 0 10px 10px;
}

.button:hover {
    background-color:rosybrown;
}

.button_correct {
    background-color: green;
}

.button_wrong {
    background-color: red;
}

.quiz__reset {
    width: 400px;
    height: 45px;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .quiz__reset {
        width: 75%;
    }
}

.quiz__reset:hover {
    background-color:rosybrown;
}

.quiz__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quiz__image {
    margin-bottom: 30px;
}