.header {    
    max-width: 1280px;
    width: 100%;
    box-sizing: border-box;
    padding: 60px 20px 60px 20px;
    background-image: url(../../images/header_image.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 25px 25px 25px 25px;
    }
}